html
    head
        //- bower:css
        //- endbower
        //- bower:js
        //- endbower
        //- inject:css
        //- endinject
        //- inject:js
        //- endinject
        title The App
    body
        h1 Heading1
        p This is the body text
