<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>
        <%=title%>
    </title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- bower:css -->
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- endbower -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/styles.css">
    <!-- endinject -->
    <!-- bower:js -->
    <script src="lib/jquery/dist/jquery.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.js"></script>
    <!-- endbower -->
    <!-- inject:js -->
    <script src="/js/_global.js"></script>
    <script src="/js/forms.js"></script>
    <script src="/js/posts.js"></script>
    <script src="/js/scripts.js"></script>
    <script src="/js/users.js"></script>
    <!-- endinject -->
    <!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
</head>

<body>
    <nav class="navbar navbar-fixed-top header">
        <div class="col-md-12">
            <div class="navbar-header">

                <a href="#" class="navbar-brand">
                    <%=title%>
                </a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse1">
                    <i class="glyphicon glyphicon-search"></i>
                </button>

            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse1">
                <form class="navbar-form pull-left">
                    <div class="input-group" style="max-width:470px;">
                        <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                        <div class="input-group-btn">
                            <button class="btn btn-default btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="http://www.bootply.com" target="_ext">Bootply+</a></li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-bell"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><span class="badge pull-right">40</span>Link</a></li>
                            <li><a href="#"><span class="badge pull-right">2</span>Link</a></li>
                            <li><a href="#"><span class="badge pull-right">0</span>Link</a></li>
                            <li><a href="#"><span class="label label-info pull-right">1</span>Link</a></li>
                            <li><a href="#"><span class="badge pull-right">13</span>Link</a></li>
                        </ul>
                    </li>
                    <li><a href="#" id="btnToggle"><i class="glyphicon glyphicon-th-large"></i></a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="navbar navbar-default" id="subnav">
        <div class="col-md-12">
            <div class="navbar-header">

                <a href="#" style="margin-left:15px;" class="navbar-btn btn btn-default btn-plus dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-home" style="color:#dd1111;"></i> Home <small><i class="glyphicon glyphicon-chevron-down"></i></small></a>
                <ul class="nav dropdown-menu">
                    <li><a href="#"><i class="glyphicon glyphicon-user" style="color:#1111dd;"></i> Profile</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-dashboard" style="color:#0000aa;"></i> Dashboard</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-inbox" style="color:#11dd11;"></i> Pages</a></li>
                    <li class="nav-divider"></li>
                    <li><a href="#"><i class="glyphicon glyphicon-cog" style="color:#dd1111;"></i> Settings</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-plus"></i> More..</a></li>
                </ul>


                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse2">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#">Posts</a></li>
                    <% if (loggedin) { %>
                        <li><a href="/auth/logout" class="logout-js" role="button">Log out</a></li>
                        <% } else { %>
                            <li><a href="#SignUpModal" role="button" data-toggle="modal">Sign up</a></li>
                            <% } %>
                                <li><a href="#aboutModal" role="button" data-toggle="modal">About</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!--main-->
    <div class="container" id="main">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <!--
                <div class="panel panel-default">
                    <div class="panel-heading"><a href="#" class="pull-right">View all</a>
                        <h4>Bootstrap Examples</h4></div>
                    <div class="panel-body">
                        <div class="list-group">
                            <a href="http://bootply.com/tagged/modal" class="list-group-item">Modal / Dialog</a>
                            <a href="http://bootply.com/tagged/datetime" class="list-group-item">Datetime Examples</a>
                            <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                        </div>
                    </div>
                </div>
-->
                <div class="well">
                    <% if (loggedin) { %>
                        <form class="form-horizontal form-js-posts" method="post" action="/api/posts">
                            <div class="panel-heading">
                                <h4>What's New</h4></div>
                            <div class="form-group" style="padding:14px;">
                                <textarea class="form-control" placeholder="Update your status" id="content"></textarea>
                                <input type="hidden" value="<%= user.username %>" name="author" id="author" />
                                <button class="btn btn-success pull-right" type="submit">Post</button>
                            </div>
                        </form>
                        <% } else { %>
                            <form class="form form-js-login" method="post" action="/auth/login">
                                <h4>log in</h4>
                                <div class="input-group text-center">
                                    <input type="text" class="form-control input-lg" id="username" placeholder="Enter your user name">
                                    <input type="password" class="form-control input-lg" id="password" placeholder="password" />
                                    <button class="btn btn-success pull-right" type="submit">Log in</button>
                                </div>
                            </form>
                            <% } %>

                </div>

                <!--
                <div class="panel panel-default">
                    <div class="panel-heading"><a href="#" class="pull-right">View all</a>
                        <h4>More Templates</h4></div>
                    <div class="panel-body">
                        <img src="//placehold.it/150x150" class="img-circle pull-right"> <a href="#">Free @Bootply</a>
                        <div class="clearfix"></div>
                        There a load of new free Bootstrap 3 ready templates at Bootply. All of these templates are free and don't require extensive customization to the Bootstrap baseline.
                        <hr>
                        <ul class="list-unstyled">
                            <li><a href="http://www.bootply.com/templates">Dashboard</a></li>
                            <li><a href="http://www.bootply.com/templates">Darkside</a></li>
                            <li><a href="http://www.bootply.com/templates">Greenfield</a></li>
                        </ul>
                    </div>
                </div>
-->

            </div>

            <div class="col-md-4 col-sm-6">
                <div class="well">
                    <h4>Posts</h4>
                    <div id="posts_render" data-method="get" data-action="/api/posts">
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">

                <!--
                <div class="panel panel-default">
                    <div class="panel-heading"><a href="#" class="pull-right">View all</a>
                        <h4>Bootply Editor &amp; Code Library</h4></div>
                    <div class="panel-body">
                        <p><img src="//placehold.it/150x150" class="img-circle pull-right"> <a href="#">The Bootstrap Playground</a></p>
                        <div class="clearfix"></div>
                        <hr> Design, build, test, and prototype using Bootstrap in real-time from your Web browser. Bootply combines the power of hand-coded HTML, CSS and JavaScript with the benefits of responsive design using Bootstrap. Find and showcase Bootstrap-ready snippets in the 100% free Bootply.com code repository.
                    </div>
                </div>
-->

                <!--
                <div class="panel panel-default">
                    <div class="panel-heading"><a href="#" class="pull-right">View all</a>
                        <h4>Portlet Heading</h4></div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">Modals</li>
                            <li class="list-group-item">Sliders / Carousel</li>
                            <li class="list-group-item">Thumbnails</li>
                        </ul>
                    </div>
                </div>
-->

            </div>
        </div>
    </div>
    <!--/main-->

    <!--login modal-->
    <div id="SignUpModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h2 class="text-center">sign up</h2>
                </div>
                <div class="modal-body">
                    <form class="form col-md-12 center-block form-js-signup" method="post" action="/auth/signup">
                        <div class="form-group">
                            <input type="text" id="username" class="form-control input-lg" placeholder="username">
                        </div>
                        <div class="form-group">
                            <input type="text" id="name" class="form-control input-lg" placeholder="first name">
                        </div>
                        <div class="form-group">
                            <input type="text" id="email" class="form-control input-lg" placeholder="email">
                        </div>
                        <div class="form-group">
                            <input type="password" id="password" class="form-control input-lg" placeholder="password">
                        </div>
                        <div class="form-group">
                            <input type="password" id="password2" class="form-control input-lg" placeholder="verify password">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-lg btn-block">Sign Up</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="col-md-12">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--about modal-->
    <div id="aboutModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h2 class="text-center">About</h2>
                </div>
                <div class="modal-body">
                    <div class="col-md-12 text-center">
                        <a href="http://www.bootply.com/DwnjTNuvVt">This Bootstrap Template</a>
                        <br>was made with <i class="glyphicon glyphicon-heart"></i> by <a href="http://bootply.com/templates">Bootply</a>
                        <br>
                        <br>
                        <a href="https://github.com/iatek/bootstrap-google-plus">GitHub Fork</a>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">OK</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
